<!DOCTYPE html>
<html>
  <head>
    <title>Timezones</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>UTC Offset</th>
          <th>UTC Offset(Daylight Time)</th>
        </tr>
      </thead>
      <tbody>
        <% ActiveSupport::TimeZone.all.each do |zone| %>
        <tr>
          <td><%= zone.name %></td>
          <td><%= ActiveSupport::TimeZone.seconds_to_utc_offset(zone.utc_offset) %></td>
          <td><%= Time.new(2015, 8, 1).utc.in_time_zone(zone).strftime("%:z") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
